<div id="work-ex" class="container-xxl">
  <h1>Work Experience</h1>
  <br>
  <div class="row">
    <div class="col-2">
      <img id="PSU-Pic" src="assets/PennState.png" title="My Picture" alt="My Picture" height="175.5px" width="168.75px">
    </div>
    <div class="col-md-10">
      <h4>The Pennsylvania State University</h4>
      <br>
      <div class="row">
        <div class="col-6">
          <p>
            <span class="field">Dates Attended: </span>
            <span class="data">August 2013 - December 2017</span>
          </p>
          <p>
            <span class="field">Major: </span>
            <span class="data">Information Sciences and Technology</span>
          </p>
          <p>
            <span class="field">Degree: </span>
            <span class="data">Bachelor of Science</span>
          </p>
        </div>
        <div class="col-6">
          <p>
            <span class="field">Location: </span>
            <span class="data">Reading, PA</span>
          </p>
          <p>
            <span class="field">Minor: </span>
            <span class="data">Security and Risk Analysis</span>
          </p>
          <p>
            <span class="field">Dean's List: </span>
            <span class="data">Spring 2015, Fall 2016, Spring 2017, & Fall 2017</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <br>
    <br>
    <br>
  </div>
  <div class="row">
    <div class="col-2">
      <img id="CW-Pic" src="assets/ConradWeiser.png" title="My Picture" alt="My Picture" height="140px" width="140px">
    </div>
    <div class="col-md-10">
      <h4>Conrad Weiser High School</h4>
      <br>
      <div class="row">
        <div class="col-6">
          <p>
            <span class="field">Dates Attended: </span>
            <span class="data">August 2009 - June 2013</span>
          </p>
          <p>
            <span class="field">Focus: </span>
            <span class="data">Professional Career Path</span>
          </p>
        </div>
        <div class="col-6">
          <p>
            <span class="field">Location: </span>
            <span class="data">Robesonia, PA</span>
          </p>
          <p>
            <span class="field">Extra Curriculars: </span>
            <span class="data">National Honor Society, Band, Jazz Band, Marching Band, Indoor Drumline, Stage Crew</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>