<div id="home" class="container-xxl">
  <h1>Welcome!</h1>
  <div class="row">
    <div class="col-md-8">
      <br>
      <p>
        Thank you for visiting my webpage!  I have really enjoyed making this website after training to become a Java Full Stack Developer.  
        I wanted to be able to showcase what I learned from learning front-end development, as I am working in a back-end development position.  
        I have used HTML, SCSS, TypeScript, Angular, and Bootstrap to make this webpage.  
      </p>
      <p>
        This website is a simple resume page that can be used to get a more complete coverage of my education and work experiences. In addition to having a passion for coding, 
        I enjoy shooting 8-Ball Pool with my APA Team, I love to swim, I listen to a large variety of music & audiobooks, 
        I create arts, crafts, & other projects when I have freetime, and I also enjoy shooting at the range for target practice.
      </p>
      <p>
        If you have any questions or feedback about my website, or would like to reach out about my experience or anything else, please feel take a moment to head to my Contact Form.
      </p>
    </div>
    <div class="col-4">
      <img src="assets/MyPic1.jpg" title="My Picture" alt="My Picture" height="360px" width="360px">
    </div>
  </div>
</div>