<div id="app">
  <nav class="navbar navbar-expand-md">
    <div class="container-fluid">
      <a href="" class="navbar-brand">Connor David Shillady</a>
      <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item" ngbDropdown display="dynamic">
            <a tabindex="0" ngbDropdownToggle id="navbarDropdown" role="button">Site Navigation</a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdown" class="dropdown-menu">
              <a ngbDropdownItem href="#" (click)="$event.preventDefault()" class="nav-link" routerLinkActive="active" routerLink="home">Home</a>
              <a ngbDropdownItem (click)="$event.preventDefault()" class="nav-link" routerLinkActive="active" routerLink="education">Education</a>
              <a ngbDropdownItem (click)="$event.preventDefault()" class="nav-link" routerLinkActive="active" routerLink="work">Work Experience</a>
              <a ngbDropdownItem (click)="$event.preventDefault()" class="nav-link" routerLinkActive="active" routerLink="certs">Certifications</a>
              <a ngbDropdownItem (click)="$event.preventDefault()" class="nav-link" routerLinkActive="active" routerLink="projects">Projects</a>
              <a ngbDropdownItem (click)="$event.preventDefault()" class="nav-link" routerLinkActive="active" routerLink="contact">Contact Me</a>
              <!-- href="javascript:Navigation.scrollTo('contact-me');" -->
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <router-outlet>

  </router-outlet>

  <footer class="flex-container">
    <!-- <div class="flex-item">Build Date: 2022.08.20</div> -->
    <div class="flex-item">Copyright &copy; 2023</div>
    <div class="flex-item">Designed & Built By: Connor Shillady</div>
  </footer>
</div>